/* Mexe em tudo que tem */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Regula as características dessa área toda, já que esse código fica
todo dentro desse body*/

body {
    background: linear-gradient(135deg, #1d0b61, #4920d4);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    animation: fundo-animado 5s infinite alternate;
    background-size: 500% 100%;
}

.desc{
    font-size: 25px;
    text-align: center;
}

.register-link{
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-align: center;
}

.auth-container {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2rem;
    width: 350px;
    box-shadow: 0 0px 32px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    animation: fadeIn 1s ease;
}

.auth-form-heading-cadastro {
    text-align: center;
    font-size: 2rem;
    margin-bottom: -0.5rem;
}

.auth-form-heading-login{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.auth-input-container {
    position: relative;
}

.auth-input-field {
    width: 100%;
    padding: 0.8rem 1rem 0.8rem 2.5rem;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
    font-size: 1rem;
    transition: 0.3s, box-shadow 0.3s;
}

.auth-input-field:focus {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 2px #656ee6;
}

.auth-input-label {
    position: absolute;
    top: 50%;
    left: 2.5rem;
    transform: translateY(-50%);
    font-size: 0.9rem;
    color: #ccc;
    pointer-events: none;
    transition: all 0.3s;
}

.auth-input-field:focus + .auth-input-label,
.auth-input-field:not(:placeholder-shown) + .auth-input-label {
    top: -10px;
    left: 10px;
    font-size: 0.75rem;
    color: #7265e6;
    background: #2c0f0f;
    padding: 0 5px;
    border-radius: 5px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 1rem;
}

/*Regula as características do botão*/

.auth-submit-button {
    padding: 0.8rem;
    background: linear-gradient(135deg, #1d0b61, #4920d4);    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition:  0.3s, transform 0.2s;
    background-size: 500% 100%;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);    
    animation: fundo-animado 2s infinite alternate;
}

/*Regula o quanto o botão "sobe" ao passar o mouse em cima*/
.auth-submit-button:hover {
    background: #1d0b61;
    transform: translateY(-2px);
}

/*Regula as características do "Já tem uma conta?"*/
.auth-link {
    text-align: center;
    font-size: 15px;
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 17px;
}

.auth-link:hover {
    color: #ffffff;
}

/* Todas as animações: */
/* Animação de Fade in do Botão*/

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Animação pro fundo das coisas, faz um gradiente móvel, indo do começo do x
até o fim dele, quando for usar bota o background com as seguinte config:
background-size: 500% 100%; */

@keyframes fundo-animado{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}